.courses {
  margin-top: 100px;
}
.slick-slide {
  display: flex !important;
  justify-content: center;
}

.slick-track {
  display: flex !important;
}

.slick-list {
  overflow: hidden;
}


.page-transition {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
